<section>
  <fieldset>
    <label for="">Rut del alumno</label>
    <input
      type="text"
      name="rut"
      [value]="nuevoHistorial.rut"
      (input)="cambiarRut($event)"
      >
      <p>{{ nuevoHistorial.rut }}</p>
  </fieldset>
  <fieldset>
    <label for="">Nombre del alumno</label>
    <input
      type="text"
      name="nombre"
      [value]="nuevoHistorial.nombre"
      (input)="cambiarNombre($event)"
      >
      <p>{{ nuevoHistorial.nombre }}</p>
  </fieldset>
  <fieldset>
    <label for="">Apellido del alumno</label>
    <input
      type="text"
      name="apellido"
      [value]="nuevoHistorial.apellido"
      (input)="cambiarApellido($event)"
      >
      <p>{{ nuevoHistorial.apellido }}</p>
  </fieldset>
  <fieldset>
    <label for="">Edad del alumno</label>
    <input
      type="number"
      name="edad"
      [value]="nuevoHistorial.edad"
      (input)="cambiarEdad($event)"
    >
  </fieldset>
  <fieldset>
    <button
      type="button"
      role="button"
      (click)="guardarHistorial()"
    >
      Guardar
    </button>
  </fieldset>
</section>
